/******************************************************************************
 * WATS1010: Introduction to Web Development
 * Embedded Media Assignment
 *
 * Site Styles
 *****************************************************************************/

html { 
	padding:0;
}

body {
	margin:0;
	background: dodgerblue;
}

header {
	border-top: solid;
	border-bottom: solid;
	border-bottom-color: black;
	border-width: 1em;
	font-family: tahoma, geneva, sans-serif;
}

h1 {
	position: absolute;
	top: 1.25em;
	left: .2em;
	font-size: 5em;
}

h2 {
	color: #FF94BF;
	text-shadow: 0px 5px 4px black;
	font-size: 2em;
	margin-bottom:.25em;
	margin-top:0;
	font-family: tahoma, geneva, sans-serif;
}

.subtitle {
	position: absolute;
	top: 11em;
	margin-left: 2.5em;
	font-size: 1.25em;
}

.main-nav {
	position: absolute;
	top: 23em;
	left: 34em;
	font-family: tahoma, geneva, sans-serif;
}

.main-nav a:link {
	font-size: 1.25em;
}

ul.main-nav li{
	list-style-type: none;
	display: inline-block;
}

#watch a:link {
	font-size: 1.25em;
}

a:link{
	color: black;
}

a:visited{
	color:black;
}

a:hover {
	color: #FF94BF;
}

#bgvid {
	display: block;
	margin: 0 auto;
	height: 25em;
	width: 84.26em;
	object-fit: fill;
}

#social {
	position: fixed;
	top: 5em;
	right: 0;
	width: 5em;
	transition: 2s width;
}

#social ul {
	list-style: none;
	padding: 0;
}

#social li {
	margin: 0;
	padding: 0;
}

#watch {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	background: url('../img/monkaa_monkeyhang.jpg');
	background-size: cover;
	background-position: 55%;
	border-bottom: solid;
	border-bottom-color: black;
	border-width: 1em;
	padding: 2em;
}

#listen {
	text-align: center;
	background: url('../img/official_header.png');
	background-size:cover;
	background-position: 0% 30%;
	border-bottom: solid;
	border-bottom-color: black;
	border-width: 1em;
}

#listen a:link{ 
	font-size: 1.25em;	
}

#about {
	text-align: center;
}

#about .lead {
	font-family: tahoma, geneva, sans-serif;
	font-weight: bold;
}

#about ul li{
	list-style: none;
	display: inline-block;
}

.headshot{
	width: 15em;
	height: auto;
}

#about p{
	font-family: tahoma, geneva, sans-serif;
	margin-top: 3em;
}

#footer {
	font-style: italic;
	text-align: right;
	margin-top: 5em;
}
